{#
/**
 * @file
 * Default theme implementation for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - file_size: The size of the file.
 *
 * @see template_preprocess_file_link()
 *
 * @ingroup themeable
 */
#}
{# <span{{ attributes.addClass('govuk-file-link') }}>{{ link }}</span>
{% if file_size %}
  <span>({{ file_size }})</span>
{% endif %} #}

<div class="govuk-button-group">
<a href="{{ file_url }}" download role="button" draggable="false" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">Download document</a>
<a href="{{ file_url }}" target="_blank"  role="button" draggable="false" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">Open document</a>
</div>
