{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
<div class="form--inline clearfix">
  <div class="links-wrapper">
    <div class="search-wrapper">
      <a href="#" class="show-filters d-flex">Filters</a>
    </div>
    <!-- {{dump(form)}} -->
  </div>
  <div class="extra-filters">
    <div class="search-wrapper">
      {{ form.created }}
      {{ form.created_1 }}
      {{ form.type }}
      {{ form.items_per_page }}
      {{ form.sort_by }}
    </div>
    <div class="search-wrapper buttons">
      {{ form.actions.submit }}
      {{ form.actions.reset }}
    </div>
  </div>
  
</div>
